Parsing error for MIB-file comments in SNMP_util.pm

```
What steps will reproduce the problem?
1. Attempt to parse CISCO-PRODUCTS-MIB.my (available from Cisco at
ftp://ftp.cisco.com/pub/mibs/v2/CISCO-PRODUCTS-MIB.my) using
snmpMIB_to_OID("CISCO-PRODUCTS-MIB.my");
2. entries after line 462 in the file are missing due to a quotation mark
existing within the comment portion of the MIB file:
cisco1760               OBJECT IDENTIFIER ::= { ciscoProducts 416 }     --
Analog/digital voice capable, 19" rack-mount (1RU) Cisco 

What is the expected output? What do you see instead?
According to RFC2578 section 3.4 "ASN.1 comments commence with a pair of
adjacent hyphens and end with the next pair of adjacent hyphens or at the
end of the line, whichever occurs first."  Therefore SNMP_util.pm should
ignore the quotation mark in line 462 of the MIB file.

Please use labels and text to provide additional information.
I recommend the following patch (with a corresponding version bump).  Diff
is based on the v1.12 code:
# diff -C 5 SNMP_util.pm.orig SNMP_util.pm
*** SNMP_util.pm.orig   Fri Jan 30 10:05:41 2009
--- SNMP_util.pm        Fri Jan 30 14:07:59 2009
***************
*** 1171,1182 ****
--- 1171,1189 ----
    while(<MIB>) {
      if ($quote) {
        next unless /"/;
        $quote = 0;
      } else {
+         # Per RFC2578 section 3.4
+         # ASN.1 comments commence with a pair of adjacent hyphens and end
with
+         # the next pair of adjacent hyphens or at the end of the line,
+         # whichever occurs first.
        s/--.*--//g;            # throw away comments (-- anything --)
        s/^\s*--.*//;           # throw away comments at start of line
+         # actually it shouldn't matter if the comment is at the start-of-line
+         # so we'll look for the start-of-comment indicator, and toss the
rest.
+         s/--.*//;
      }
      chomp;

      $buf .= ' ' . $_;

```

Original issue reported on code.google.com by `dcthor...@hotmail.com` on 6 Feb 2009 at 10:44
